# Maven / Java
target/
*.log
*.class

# IntelliJ / IDE
/.idea/
/*.iml
out/
*.iml

# Eclipse
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db

# Build artifacts
*.jar
*.war

# Local plugin data
/data/
crafted.yml
plugins/*.jar

# Node / others (if present)
node_modules/
